body {
    color: rgb(43, 255, 0);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    width: 30%;
    padding: 1cm;
    border: 1px solid #fff;
    margin: 0 auto;
}
#container h1{
    color: black;
}